.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link a {
  margin: 0;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__column-link:hover {
  opacity: 0.1;
  transition: 0.2s linear;
}
