.header__square {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
  transform: rotate(-15deg);
  animation: rotation 20s infinite linear;
}
