.video {
  padding-top: 100px;
}

.video__iframes {
  text-align: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  position: relative;
  bottom: -50px;
}
.video__iframe:last-child {
  margin: 0;
}
