.feynman {
  height: 790px;
  position: relative;
  background-image: url("../../images/feynman.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.feynman__title {
  width: 775px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
}
